@media screen and (max-width:768px) {
    .form {
        display: none !important;
    }

}

.container-cart {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}

.cart-items {
    color: white;

}

.form-check-input {
    cursor: pointer;
}