.jumbotron {
    background-color: lightgray;
    height: 300px;
    padding: 20px;
    background-image: url('https://manybooks.net/sites/default/files/2018-07/bookstackssmall.jpg');
    background-size: contain;

}

.jumbo-content {
    text-align: center;
    color: white;
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    .hero-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
    }
}