.card-img {
    height: 500px;
}

.card-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.alert {

    position: sticky;
    top: 80px;
    z-index: 1
}